.App {
  text-align: center;
  position: relative;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.header {
  /* border: solid 3px #ff0707; */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);

}

.footer {
    display: flex;
    flex-wrap: wrap;
    font-family: Helvetica ,Arial ,sans-serif, Color, Symbol, Color;
    height: 1230px;
}

.footer .menu {
    width: 15%;
    /* border: solid 3px #eaea03; */
    box-shadow:
    10px 0 15px rgba(0, 0, 0, 0.2), 
    0 0 0 rgba(0, 0, 0, 0.5); 
    height: 1230px;
}

.footer .menu .sidebar {
  left: 0;
  background: white;
  z-index: 0;
  transition: all 2s ease-in-out;
}

.footer .content {
    width: 82%;
    padding: 30px;
    height: 1230px;
    /* border: solid 3px #000000; */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
a{
  text-decoration: none;
}
.chan{
  width: 100%;
  height: 50px;
  background-color: #3498db;
  color: #fff;
  padding-top: 10px;
}