.sua {
    margin: 20px 0 0 100px;
    
}

.sua h1 {
    color: #000;
}

.from_sua {
    width: 500px;
    margin: 10px 0 0 70px;
    background-color: fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.from_sua span {
    color: #000;
    font-weight: 550;
}

.from_sua .input_sua {
    margin: 13px 0 10px;
}

.from_sua .input_sua input {
    padding: 9px 0 9px 20px;
    width: 450px;
}

.from_sua .sua__submit {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px ;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-left: 160px;   
}

.from_sua .sua__submit:hover {
    background-color: #2980b9;
    
}
.from_sua .sua__submit:active {
    background-color: #1f618d;
  }
.error {
    color: red;
    font-size: 10px;
}

.success {
    color: green;
    font-size: 10px;
}