.scroll {
  position: fixed;
  bottom: 60px;
  right: 30px;
}
.scrolltotop {
  background: #d70018;
  color: white;
  font-size: 20px;
  width: 70px;
  height: 70px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.5s;

  cursor: pointer;
}
.scrolltotop p {
  font-size: 10px;
}
