.content-wrappers {
    color: #000;
    margin-left: 80px;
}

.content-wrappers textarea {
    width: 400px;
    height: 90px;
}

.content-wrappers {
    padding: 20px 70px;
    width: 550px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.content-wrappers h1 {
    text-align: center;
}

.service {
    width: 150px;
}
.chuandoan .datlich__submits{
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px ;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-left: 60px;
    width: 120px;
    height: 50px;
} 
.chuandoan .datlich__submits:hover{
    background-color: #2980b9;
}

