.datlich {
    margin: 20px 0 0 100px;
}

.datlich h1 {
    color: #000;
}

.input_date .tell {
    padding: 8px 5px;
    border-radius: 7px;
}
.datlich .from_datlich {
    width: 500px;
    margin: 10px 0 0 70px;
    background-color: fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.from_datlich .input_date span {
    color: #000;
    font-weight: 550;
}

.from_datlich input {
    margin-left: 40px;
}

.from_datlich .service {
    width: 150px;
    margin-left: 20px;
}

.from_datlich .input_date {
    margin: 10px 0 20px;
}

.from_datlich .datlich__submit {
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px ;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-left: 160px;
}
.from_datlich .datlich__submit:hover {
    background-color: #2980b9;
    
}
